<a href="https://colab.research.google.com/github/sydneykain/courseradatascience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Author
Sydney Kain

This notebook will describe Data Science Tools and Ecosystem

# Objectives
- List common languages for Data Science
- List common libraries in Data Science
- List common toolsin Data Science

Common languages used by Data Science include:
1. Python
2. SQL
3. R

Commonly used libraries in data science include:
1. Pandas
2. Numpy
3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| VisualStudio|

### Examples of arithmetic expressions in Python

In [ ]:
#This is how we use arithmetic expressions to multiply and add integers
(3*4)+5

17

In [ ]:
#This converts 200 minutes in to hours
200/60

3.3333333333333335